.body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 10%;
    padding: 1%;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.nav a{
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
}

.navbar li{
    list-style: none;
    margin: 0 10px;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo{
    justify-content: flex-start;
}

.descripciones{
    font-size: 16px;
}

.seccion{
    font-size: xx-large;
    text-align: center;
}

.titulo{
    font-size: 20px;
    font-weight: bold;
}

.footer{
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    padding: 1%;
    text-align: center;
    font-size: 16px;
}

.copyright{
    font-size: 12px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.87);
    height: 80%;
    padding: 1%;
    font-size: x-large;
}

.productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    padding: 1%;
    font-size: x-large;
}

.responsiva {
    width: 100%;
    height: auto;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    align-items: center;
    width: 20%;
    height: 50%;
    padding: 1%;
    background-color: #EBEBEB;
    border: #333333 1px solid;
}

.precio{
    font-size: 16px;
    font-weight: bold;
    color: forestgreen;
}

.promo{
    font-weight: bold;
    color: red;
}

.labelEinput{
    display: flex;
    justify-content: space-between;
}

.main-register{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.87);
    height: 80%;
    padding: 4%;
    font-size: large;
}

.main-login{
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.87);
    height: 80%;
    padding: 4%;
    font-size: large;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 1%;
    background-color: #EBEBEB;
    border: #333333 1px solid;
}

.formCheck{
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .productos{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80%;
        padding: 1%;
        font-size: x-large;
    }

    .nav a{
        display: none;
    }

    .seccion{
        font-size: x-large;
    }
}